<%= simple_form_for(@listing) do |f| %>
  <%= f.input :title %>
  <%= f.input :brand %>
  <%= f.input :category %>
  <%= f.input :price_per_day %>
  <div class="input-container">
    <input type="text" name="listing[pick_up]" class="from-date">
    -
    <input type="text" name="listing[drop_off]" class="to-date">
    <div class="ex-inputs-picker"></div>
  </div>
  <%= f.submit %>
<% end %>



<% content_for :after_js do %>
  <%= stylesheet_pack_tag 'datepickers' %>
  <%= javascript_pack_tag 'datepicker' %>
<% end %>
